html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .bakgrunn {
    background: url(../images/Bakgrunn.jpeg);
    background-size: cover;
  }
  
  p {
    font-size: 20px;
    max-width: 500px;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
  }


/*Navbar*/

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    text-decoration: none;
    display: flex;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    display: inline-flex;
    padding: 10px;
    margin: auto;
  }

  .logo-nav {
    width: 70px;
  }

button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: inline;
    font-family: 'Titillium Web', sans-serif;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh
  }
  
  .info {
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    margin: 40px auto;
  }

  .meg {
    width: 70%;
    margin: 0px auto;
  }

  .image {
    display: grid;
    place-items: center;
  }

  footer {
    height: 100px;
    color: white;
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    padding: 20px;
    margin-bottom: 0px !important;
  }

  .cta-button {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    margin: 5px;
  }
  
  .cta-button:hover {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 62%, rgba(82,83,221,1) 86%);
    transition: 10s;
    
  }

  /*Project site*/

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 10px auto;
    grid-gap: 5px;
    max-width: 99%;
  }

  .project h3 {
    margin: 5px;
  }

  .project img {
    width: 100%;
  }

  .project-cta {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
  }

  .project {
    text-align: left;
    background: white;
    border: 2px solid rgb(10,73,228);
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 gray, -3px -3px 5px 0 silver;
  }

  .project-text {
    margin:5px;
    font-size: 1em;
  }