html, body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .bakgrunn {
    background: url(../images/bakgrunn-svart.jpeg);
    background-size: cover;
   
  }
  
  p {
    font-size: 1em;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
  }


/*Navbar*/

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  nav {
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    text-decoration: none;
    display: flex;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    display: inline-flex;
    padding: 10px;
    margin: auto;
  }

  .logo-nav {
    width: 70px;
  }

  

button {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: rgb(15,28,60);;
    text-align: left;
    font-size: 60px;
     margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
}

.container {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh
  }
  
<<<<<<< HEAD
  .info { 
    display: inline-block;
    flex-direction: column; 
    align-items: center; 
    text-align: left;
    margin: 40px auto;
  }

  .logo-home {
    width: 200px;
    text-align: left;
  }

=======
  .info {
    color: rgb(15,28,60);;
    flex-direction: column; 
    align-items: center; 
    margin: auto;
    max-width: 90%;
  }

  .info .cta-button {
    padding: 10px 50px;

  }


>>>>>>> a2cdf1e6adaa3bca4af275a842a969367ee5526f
  .meg {
    width: 100%;
    margin: 0px auto;
  }

  .image {
    display: grid;
    place-items: center;
  }

  footer {
    height: 100px;
    color: white;
    background: rgb(15,28,60);
    background: linear-gradient(30deg, rgba(15,28,60,1) 42%, rgba(23,23,54,1) 66%);
    padding: 20px;
    margin-bottom: 0px !important;
  }

  .cta-button {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
  }
  
  .cta-button:hover {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 62%, rgba(82,83,221,1) 86%);
    transition: 10s;
    
  }

  /*Project site*/

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 10px auto;
    grid-gap: 5px;
    max-width: 99%;
  }

  .project h3 {
    margin: 5px;
  }

  .project img {
    width: 100%;
    object-fit: cover;
  }

  .project button {
    color: white;
    background: rgb(10,73,228);
    background: linear-gradient(30deg, rgba(10,73,228,1) 0%, rgba(82,83,221,1) 65%);
    padding: 10px 30px;
    border: none;
    padding: 10px 30px;
    border-radius: 0px 0px 5px 5px;
    border: none;
  }

  .project {
    display: flex;
    flex-direction: column;
    width: 250px; 
    box-sizing: border-box;
    overflow: hidden;
    text-align: left;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0 gray, -3px -3px 5px 0 silver;
  }

  .project-text {
    flex: 1;
    margin:5px;
    font-size: 1em;
  }